/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */


@font-face {
    font-family: PetcoCircularCAP-Regular;
    src: url(../fonts/PetcoCircularCAP-Regular) format("otf");
  }
  @font-face {
    font-family: PetcoCircularCAP-Bold;
    src: url(../fonts/PetcoCircularCAP-Bold) format("otf");
  }